<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/scss/main.css">
        <title>Hello, Sass!</title>
    </head>
    <body>
    <h1>Hello, Sass!</h1>
    <main>
        <p class="warning2">Sass example</p>
        <p>Sass example 2</p>
    </main>
    <p> Sass example 3</p>
    </body>
</html>