<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <title>Time right now is: </title>#}
</head>
<body>

{#<button>Change user</button>#}
<script src="/js/WelcomeMessage.js"></script>
</body>
</html>
