<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <title>Time right now is: </title>#}
</head>
<body>
<h1>Header 1</h1>

{#Tutorial 3#}
{#<h2>JavaScript HTML DOM</h2>#}

{#<p>Finding HTML Elements by Tag Name.</p>#}
{#<p>This example demonstrates the <b>getElementsByTagName</b> method.</p>#}

<p id="demo"></p>

{#<button>Change user</button>#}
<script src="/js/WelcomeMessage.js"></script>
</body>
</html>
